img{
            display: none;
        }
        /*a:active + img{*/
        /*    display: block;*/
        /*}*/
        a:hover + img{
            display: block;
        }
        a{
            text-decoration: none;
        }